<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
version = "1.5.0"
            versionCode = "1">

    <name>Lucky Phone Number</name>

    <description>
        Find out how lucky is your phone number! Is your phone number right for you? Or is it working against you? Lucky Phone Number analyzes your phone numbers and show you how lucky they are for you based on Feng Shui principles and algorithms.
    </description>

    <author href="http://alexiers.github.io" email="alexiers@gmail.com">Alex Mobii</author>
        
    <!-- ICONS -->
	<icon src="img/icon-512.png" width="512" height="512" />	
        
    <!-- SPLASH SCREENS -->
    
        <gap:splash src="mdpi.png" /> <!-- default 320x480 pixels -->
        
        <gap:splash src="img/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 200x320 -->
        <gap:splash src="img/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 320x480 -->
        <gap:splash src="img/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 480x800 -->
        <gap:splash src="img/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 720x1280 -->
        
        <gap:splash src="img/hdpi.jpg" gap:platform="winphone" /> <!-- Windows Phone 7 480x800 -->    
        
        
    <!-- PLATFORM SELECTION -->

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="webos" />
    <gap:platform name="symbian" />
    <gap:platform name="blackberry" />
    <gap:platform name="winphone" />

        
    
    <!-- GENERAL PREFERENCES -->
        
    <preference name="phonegap-version" value="3.4.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" /> <!-- remove the upper bar on iOS and Android -->
    
    <preference name="HideKeyboardFormAccessoryBar" value="false"/>
    <!-- hide the additional toolbar that appears above the keyboard -->
        
         
    <!-- ANDROID PREFERENCES -->
        
    <preference name="android-minSdkVersion" value="7" /> <!-- minimum Android 2.1 -->
    <!-- <preference name="android-maxSdkVersion" value="19" /> maximum Android 4.4 -->
    <preference name="android-targetSdkVersion" value="19" /> <!-- targeting Android 4.4 -->
    <preference name="android-installLocation" value="auto" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    <preference name="splash-screen-duration" value="5000" />

    <preference name="load-url-timeout" value="20000" />
        
    <!-- PHONEGAP API FEATURES PREFERENCES -->
        
    <preference name="permissions" value="none"/>
    <!--
<feature name="http://api.phonegap.com/1.0/battery"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
-->

    <access origin="*" />

</widget>
